
@page "/AddEmployee"
@using BlazorCurdApp.Data
@inject EmployeeService objService
@inject NavigationManager NavigationManager  

<h2>AddEmployee</h2>

<hr />

<form>
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@objemp.Name" />
            </div>
            <div class="form-group">
                <label for="Gender" class="control-label">Gender</label>
                <select @bind="@objemp.Gender" class="form-control">
                    <option>....Select Gender....</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="City" class="control-label">City</label>
                <input form="City" class="form-control" @bind="@objemp.City" />
            </div>
            <div class="form-group">
                <label for="Email" class="control-label">Email</label>
                <input form="Email" class="form-control" @bind="@objemp.Email" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateEmp" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>

</form>

@code {
    Employinfo objemp = new Employinfo();

    protected void CreateEmp()
    {
        objService.CreateEmp(objemp);
        NavigationManager.NavigateTo("Employee");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Employee");
    }
}
