
@page "/AddEmployee"
@using BlazorCurdApp.Data
@inject EmployeeService objService
@inject NavigationManager NavigationManager  

<h2>AddEmployee</h2>

<hr />
<EditForm Model="@objemp" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />   
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <InputText form="Name" class="form-control" @bind-value="objemp.Name" />
                <ValidationMessage For="@(() => objemp.Name)" />
            </div>
            <div class="form-group">
                <label for="Gender" class="control-label">Gender</label>
                <InputSelect @bind-Value="objemp.Gender" class="form-control">
                    <option>....Select Gender....</option>
                    <option>Male</option>
                    <option>Female</option>
                </InputSelect>
            </div>
            <div class="form-group">
                <label for="City" class="control-label">City</label>
                <InputText form="City" class="form-control" @bind-Value="objemp.City" />
                <ValidationMessage For="@(() => objemp.City)" />
            </div>
            <div class="form-group">
                <label for="Email" class="control-label">Email</label>
                <InputText form="Email" class="form-control" @bind-Value="objemp.Email" />
                <ValidationMessage For="@(() => objemp.Email)" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button type="submit" class="btn btn-success" value="Save" />
                <button type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>

</EditForm>

@code {
    private Employinfo objemp = new Employinfo();

    private void HandleValidSubmit()
    {
        CreateEmp();
    }

    protected void CreateEmp()
    {
        objService.CreateEmp(objemp);
        NavigationManager.NavigateTo("Employee");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Employee");
    }
}
