
@page "/DeleteEmployee/{CurrentID}"
@using BlazorCurdApp.Data
@inject EmployeeService objService
@inject NavigationManager NavigationManager

<h2>Delete Employee</h2>
<hr />
<h3> Are you sure want to Delete this ? </h3>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label>Employee ID :</label>
            <label>@objemp.EmployeeID</label>
        </div>
        <div class="form-group">
            <label>Name :</label>
            <label>@objemp.Name</label>
        </div>
        <div class="form-group">
            <label>Gender :</label>
            <label>@objemp.Gender</label>
        </div>
        <div class="form-group">
            <label>City :</label>
            <label>@objemp.City</label>
        </div>
        <div class="form-group">
            <label>Employee ID :</label>
            <label>@objemp.Email</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-danger" @onclick="@DeleteEmpinfo" value="Delete" />
            <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>

 @code {
    [Parameter]
    public string CurrentID { get; set; }
    Employinfo objemp = new Employinfo();

    protected override async Task OnInitializedAsync()
    {
        objemp = await Task.Run(() => objService.GetEmpbyID(Convert.ToInt32(CurrentID)));
    }

    protected void DeleteEmpinfo()
    {
        objService.DeleteEmp(objemp);
        NavigationManager.NavigateTo("Employee");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Employee");
    }

}
